extend layout

block content
  form#demo-form2.form-horizontal.form-label-left(data-parsley-validate='', novalidate='', method='POST', action='/product')
    .item.form-group
      label.col-form-label.col-md-3.col-sm-3.label-align(for='first-name')
        | First Name 
        span.required *
      .col-md-6.col-sm-6
        input#first-name.form-control(type='text', required='required')
    .item.form-group
      label.col-form-label.col-md-3.col-sm-3.label-align(for='last-name')
        | Last Name 
        span.required *
      .col-md-6.col-sm-6
        input#last-name.form-control(type='text', name='last-name', required='required')
    .item.form-group
      label.col-form-label.col-md-3.col-sm-3.label-align(for='middle-name') Middle Name / Initial
      .col-md-6.col-sm-6
        input#middle-name.form-control(type='text', name='middle-name')
    .item.form-group
      label.col-form-label.col-md-3.col-sm-3.label-align Gender
      .col-md-6.col-sm-6
        #gender.btn-group(data-toggle='buttons')
          label.btn.btn-secondary(data-toggle-class='btn-primary', data-toggle-passive-class='btn-default')
            input.join-btn(type='radio', name='gender', value='male', data-parsley-multiple='gender')
            |    Male
          label.btn.btn-primary(data-toggle-class='btn-primary', data-toggle-passive-class='btn-default')
            input.join-btn(type='radio', name='gender', value='female', data-parsley-multiple='gender')
            |  Female
    .item.form-group
      label.col-form-label.col-md-3.col-sm-3.label-align
        | Date Of Birth 
        span.required *
      .col-md-6.col-sm-6
        input#birthday.date-picker.form-control(required='required', type='text')
    .ln_solid
    .item.form-group
      .col-md-6.col-sm-6.offset-md-3
        button.btn.btn-primary(type='button') Cancel
        button.btn.btn-primary(type='reset') Reset
        input.btn.btn-success(type='submit')
      

